@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src:
        url('../fonts/merriweather/Merriweather-Regular.ttf'),
        url('../fonts/merriweather/Merriweather-Italic.ttf'),
        url('../fonts/merriweather/Merriweather-Bold.ttf'),
        url('../fonts/merriweather/Merriweather-Black.ttf'),
        url('../fonts/merriweather/Merriweather-Light.ttf');
}
