/*

Color scheme reference:
    - Main background color: #e0e0e0
    - Main text color: #1a1a1a
    - link color: #111111

*/

@import url("fonts.css");

html {
    max-width: 1000px;
    padding-right: 2%;
    padding-left: 2%;
    background-color: #e0e0e0;
    color: #1a1a1a;
    font-family: 'Merriweather';
    margin: 0 auto;
}

.fixed-footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    max-width: 1000px;
    position: fixed;
}

.normal-footer {
    text-align: center;
    bottom: 0;
}

.footer-link {
    text-decoration: none;
    color: #111111;
    text-transform: uppercase;
}

.title {
    //text-align: center;
}

.header {
    vertical-align: center;
    display: inline-block;
    text-align: center;
    letter-spacing: 0.33ch;
}

.header a {
    font-size: 20px;
    text-decoration: none;
    color: #111111;
    text-transform: capitalize;
}

.articles {
    align: center;
    text-align: center;
}

.posts {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.posts li h2 a {
    text-decoration: none;
    color: #111111;
}

.content {
    font-family: 'Merriweather';
}

.project-link {
    padding-left: 15%;
    padding-right: 15%;
    margin: 0 auto;
}

.article-text {
    font-size: 20px;
}
